*{
    padding: 0;
    margin: 0; 
}

/*Checkbutton for burger */

.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}


/*Media property for making website functionable in different sizes */

@media (max-width:952px){
  
    .logo{
        width: 100px;
        height: 100px;
        padding: 5px;

    }
    .navbar ul li a{
        font-size:  17px ;
    }
    
}
@media (max-width:858px){
    .checkbtn{
        display: block;
        
    }
    .logo{
        width: 100px;
        height: 100px;
        padding: 5px;

    }
    /* body{
        overflow-x: hidden;
        overflow-y:hidee ;
    } */

    .navbar{
        position: fixed;
        top: 0%;
    }
    nav ul{
        position:fixed ;
        width: 100%;
        height: 60vh;
        top: 120px;
        left: -100%;
        text-align: center;
        transition: all .5s;
        background-size: cover;
        background-color:rgba(0, 0, 0,0.295);
        backdrop-filter:blur(6.5px );
        
    }
     nav ul li{
        display: block;
        margin: 40px 0px;
        line-height: 30px;
    }
     nav ul li a{
        font-size: 100%;
      
    }
  
    #check:checked~ul{
    left: 0px ;
        
    }

    }




@media (max-width:650px){
    .footer{
        flex-flow: column;
    }
    .footer h1{
        text-align: center;
    }
    .footer .icons{
        padding: 2rem 0;
    }
}



/* Navigation Bar CSS */

.navbar{
    height: 120px;
    width: 100%;
    background: rgba(0, 0, 0, 0.295);
    position: fixed;
    top: 0%;
    z-index: 9999;
    
}
.navbar.animate{
    top: -120px;
    transition:ease-in-out .2s;
}
.navbar.sticky{
    top: 0;
    z-index: 99;
}

.logo{
    width: 140px;
    height: auto;
    padding: 20px;
    float: left;
    

}

 ul{
    float: right;
    margin-right: 35px;
    background-size: cover;
    
}
 ul li{
    list-style: none;
    margin: 0 20px;
    display: inline-block;
    line-height: 80px;
}
 ul li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 6px 13px;
    transition: .4s;
}

.navbar ul li a:hover{
    background: white;
    color: black;
    border-radius: 2px;
    
    }
    

body{
    overflow-x: hidden;
}
.wrapper{
    background-image: linear-gradient(#ffd89b,#19547b  );
    height: 100vh;
    max-width: 100%;
    position: relative;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    padding: 0 1rem ;
    overflow: hidden !important; 

}

.center{
    position: relative;
    top: 38%;
    left: 47%;
    transform: translate(-50%,-50%);
    user-select:text;
    
   
} 

.center h1{
    color: white;
    left:100%;
    font-size: 70px;
    font-weight:550;
 
    
    
}
 .center h2{
    
    color:white;
    left: 50px ;
    font-size:30px ;
   
}

.center button{
    height: 50px;
    width: 150px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background-color: rgb(238, 98, 98);
    border: 1px;
    outline: none;
    cursor: pointer;
    border-radius: 25px;
    margin-top: 1.5%;
    margin-left: 2%;
    box-shadow: 0 .3rem .5rem rgba(219, 251, 255 ,.3);
    text-align: center;
    display: inline-block;
    user-select: none;
}
  .btn{
    margin-left: 15px;
}
.button:hover{
    background-color: rgb(0, 77, 107);
    border: 1px;
    outline: none;
    cursor: pointer;
    border-radius: 25px;
    letter-spacing: .1rem;
    
}

/* Footer CSS */

.footer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    margin-top: 1rem;
    background: rgba(36, 36, 36);
}

.footer h1{
    color: white;
    letter-spacing: .1rem;
    font-weight: 400;

}

.footer .icons a{
    color: white;
    font-size: 1.8rem;
    padding: 0 2rem;

}




